body {
    font-family: Arial, sans-serif;
}
.header {
    background-color: #131d6d; 
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background {
position: relative;
width: 100%;
height: 63vh; 
overflow: hidden;
}

.background img {
width: 100%;
height: 100%;
object-fit: cover;
}

.background .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
z-index: 1;
}

.tagline {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
z-index: 2; 
width: 80%; 
max-width: 1200px; 
}

.tagline h1 {
font-size: 3rem;
margin: 0;
word-wrap: break-word; 
line-height: 1.2;
}

.tagline p {
font-size: 1.2rem;
margin: 10px 0 0 0;
font-style: italic;
line-height: 1.5;
}

.form-header {
margin-top: 1.5rem; 
text-align: center;
}

.headline {
color: #2f3eb1; 
font-size: 2rem; 
font-weight: bold;
margin: 0; 
}

.subheadline {
text-align: center;
color: black; 
font-size: 1.5rem; 
margin-top: 0.5rem; 
font-style: italic; 
}

h2 {
    text-align: center;
    color: #333;
}

.upload_choice {
    text-align: center;
    width: fit-content;
    padding: 0px 20px;
    margin: 20px auto;
    font-size: 18px;
}

.upload_choice div{
    margin: 0px 5px;
    display: inline;
}

.upload_choice button{
    width: 60px;
    height: 30px;
    margin: 10px 0px;
    background-color: #2f3eb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.data_form{
    max-width: 60vw;
    margin: 0 auto;
} 
.data_form .form-fill {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 5px;
}
.data_form .section {
    padding: 15px;
}
.data_form .section h3 {
    margin-top: 0;
    color: #2f3eb1;
}
.data_form label {
    display: block;
    margin: 5px;
}
.data_form input, select {
    width: 96%;
    padding: 8px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.submit-container {
    text-align: center; 
}
button {
    width: 100px;
    height: 40px;
    margin: 10px 0px;
    background-color: #2f3eb1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #5f91c7;
}
.result {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px;
}
.no-churn {
    background-color: rgb(90, 156, 242);
}
.churn {
    background-color: rgb(237 99 99);
}

.conclusion {
background-color: #f2f7ff;
padding: 20px;
text-align: center;
border-radius: 8px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
margin-top: 50px;
}

.conclusion h3 {
font-size: 2.5rem; 
color: #0066cc; 
font-weight: bold;
margin: 20px 0px 60px 0px;
}

.conclusion p {
font-size: 1.2rem; 
color: #333; 
font-style: italic;
margin-top: 10px;
}

/* Footer Styles */
.footer {
    background-color: #2f3eb1; 
    color: white;
    padding: 1px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}

.footer a:hover {
    color: antiquewhite;
}